replicaCount: 1

image:
  repository: karlz007/auth-service
  tag: latest

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"

env:
  DATABASE_URL: "postgres://authuser:authpass@postgres:5432/authdb?sslmode=disable"
  JWT_SECRET: "super-long-secret"
